.titles {
  margin-top: 30px;
  margin-bottom: 20px;
}

article {
  margin-bottom: 30px;
  padding: 15px;
}

iframe {
  width: 100%;
  height: 500px;
  margin-bottom: 30px;
}

#body-img {
  width: 100%;
}

.body-content {
  margin-top: 30px;
}